<footer class="footer">
  <div class="content has-text-centered">
    <p>
      <strong>Inscriptions</strong> Platform  by <%= link_to 'Isay Sosa', github_url, target: '_blank' %>.
    </p>
  </div>
</footer>
