<% if current_teacher %>
  <div class="columns">
    <div class="column">
      <%= link_to new_course_path, class: 'button is-primary' do %>
      <span class="icon">
        <i class="fas fa-plus"></i>
      </span>
        <span>New Course</span>
      <% end %>
    </div>
  </div>
<% end %>

<div class="columns mt-4">
  <div class="column">
    <h1 class="title is-1">Courses</h1>
  </div>
</div>

<div class="columns">
  <%= render @courses %>
</div>
