<% if (vote = current_teacher.vote_from(voteable.to_model)) %>
  <%= link_to send("#{voteable.class_name}_vote_path", voteable, vote), method: :delete, remote: true do %>
    <span class="icon">
      <i class="fas fa-heart"></i>
    </span>

    <span>(<%= voteable.votes_count %>)</span>
  <% end %>
<% else %>
  <%= link_to send("#{voteable.class_name}_votes_path", voteable), method: :post, remote: true do %>
    <span class="icon">
      <i class="far fa-heart"></i>
    </span>

    <span>(<%= voteable.votes_count %>)</span>
  <% end %>
<% end %>
